/* order of properties defined by https://9elements.com/css-rule-order/ */

body {
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 0 100px;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  display: flex;
  gap: 16px;
}

.header ul li {
  font-size: 18px;
  list-style-type: none;
}

.header ul li a {
  text-decoration: none;
  color: #e5e7eb;
}

.body {
  background-color: yellow;
  padding: 0 100px;
}

.intro {
  background-color: orange;
}

.middle {
  background-color: aliceblue;
}

.quote {
  background-color: brown;
}

.cta {
  background-color: purple;
}

.footer {
  padding: 0 100px;
  background-color: #1f2937;
}
